* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --background: #22212c;
  --comment: #7970a9;
  --comment-secondary: #454158;
  --selection: #414d58;
  --selection-secondary: #8f9ba8;
  --black: #0b0d0f;
  --foreground: #f8f8f2;
  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --yellow: #ffff80;
  --red: #ff9580;
  --pink: #ff80bf;
  --purple: #9580ff;
}

body {
  background: var(--background);
}

body,
input,
button {
  font-size: 1.6rem;
  font-family: 'JetBrains Mono', monospace;
}

form {
  padding: 2.4rem;
  max-width: 40rem;
  margin: auto;
}

#credit-card {
  width: 40rem;
  height: 20rem;

  perspective: 60rem;
}

#credit-card > div {
  width: inherit;
  height: inherit;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

#credit-card .front {
  background: url(./assets/cc-front.png) no-repeat;
  background-size: 350px;
  transform: rotateY(0);
}

#credit-card .back {
  background: url(./assets/cc-back.png) no-repeat;
  background-size: 350px;
  transform: rotateY(-180deg);
  top: -5px;
}

@media screen and (max-width: 600px) {
  #credit-card .front,
  #credit-card .back {
    background-size: 320px;
  }
  #credit-card {
    width: 31rem;
    height: 18rem;
  }
}

#credit-card:active .front,
#credit-card:hover .front {
  transform: rotateY(180deg);
}

#credit-card:active .back,
#credit-card:hover .back {
  transform: rotateY(0deg);
}

.flex {
  display: flex;
}

.inputs {
  margin-top: 4.8rem;

  flex-direction: column;
  gap: 2.4rem;
}

label {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--foreground);

  gap: 0.4rem;
  align-items: center;
}

input {
  margin-top: 0.4rem;

  width: 100%;
  font-family: 'JetBrains Mono', monospace;

  padding: 1.2rem;
  border: 0.1rem solid var(--selection-secondary);

  background: var(--black);
  border-radius: 0.4rem;

  color: var(--foreground);
}

input:focus {
  border: 0.15rem solid var(--green);
  outline: 0.15rem solid var(--green);
}

input:invalid:focus {
  outline: 0.15rem solid var(--red);
  border: 0.15rem solid var(--red);
}

input + .warning {
  display: none;
}

input:invalid:focus + .warning {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  color: var(--red);

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.col-2 {
  gap: 2.4rem;
  align-items: center;
  margin-bottom: 2rem;
}

.col-2 .input-wrapper:nth-child(2) {
  flex-basis: 40%;
}

.help img {
  width: 1.6rem;
  height: 1.6rem;
}

.info-security {
  margin-top: 4.8rem;

  justify-content: center;
  gap: 0.8rem;

  font-size: 1.4rem;
  color: var(--foreground);
}

button {
  margin-top: 10rem;

  border: 0;
  padding: 1.6rem;
  width: 100%;
  background: var(--cyan);
  box-shadow: 0rem 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--black);

  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: var(--green);
}
